// grid variables
$grid-columns: 12;
$grid-max-width: 65em;

// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

html,
body,
.wrapper,
.content {
	height: 100%;
  font-family: 'Karla', helvetica, arial, sans-serif;
}

.wrapper {
  position: relative;
	overflow: hidden;
}

.content,
.content-inner {
	position: relative;
}

.content {
  overflow-y: scroll;
  background-color: $background-color;
  color: $feature-color;
  left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
	transition: transform 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
}

.content-inner {
  width: 100%;
  margin: 0 auto;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

//Grid
.wrapper,
.row {
  @extend %clearfix;
}

//Columns (Universal selector)
[class*='col-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

@media #{$breakpoint-medium} {

  .content-inner {
    width: 95%;
    max-width: $grid-max-width;
  }

  //Loops through column numbers
  //Creates classes with widths
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }

}
