$baseline: 20px;
$feature-color: #000;
$background-color: darken(#fff, 5%);

body {
  font-family: 'Karla', helvetica, arial, sans-serif;
  background-color: $background-color;
  color: $feature-color;
}

.container {
  width: 90%;
  margin: 0 auto;
}

//Components
@import "components/_button";
@import "components/_control-slider";
@import "components/_wave-selector";
