.control-slider {
  margin: $baseline 0;
}

.control-slider label {
  font-size: $baseline*0.6;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  display: block;
}

.control-slider input[type='range'] {
  width: 100%;
}

//Style range input
$track-color: $background-color;
$thumb-color: $background-color;

$thumb-radius: $border-radius-base;
$thumb-height: $baseline;
$thumb-width: $baseline;
$thumb-border-width: 2px;
$thumb-border-color: $feature-color;

$track-width: 100%;
$track-height: $baseline/2;
$track-border-width: 1px;
$track-border-color: $feature-color;

$track-radius: $border-radius-base;

@mixin track() {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
  transition: all .2s ease;
}

@mixin thumb() {
  border: $thumb-border-width solid $thumb-border-color;
  height: $thumb-height;
  width: $thumb-width;
  border-radius: $thumb-radius;
  background: $thumb-color;
  cursor: pointer;
}

[type=range] {
  -webkit-appearance: none;
  margin: $thumb-height / 2 0;
  width: $track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @include track();
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb();
    -webkit-appearance: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: darken($background-color, 5%);
  }

  &:focus::-webkit-slider-thumb {
    background: $feature-color;
  }

  &::-moz-range-track {
    @include track();
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-moz-range-thumb {
    @include thumb();
  }

  &::-ms-track {
    @include track();
    background: transparent;
    border-color: transparent;
    border-width: $thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken($background-color, 5%);
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-fill-upper {
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-thumb {
    @include thumb();
  }

  &:focus::-ms-fill-lower {
    background: $track-color;
  }

  &:focus::-ms-fill-upper {
    background: darken($background-color, 5%);
  }

  &:focus::-moz-range-thumb {
    background: $feature-color;
  }
}
